@import '../../../css/common/index.styl'
html,body
  height 100%
.contentWrap

  .inputBox
    border-1px(top,blue)
    
    width 100%
    height 60px
    background #ccc
    input
      width 80%
      height 60px
    