extends ../../common/layout.pug
block content
  .contentWrap
    -var n = 0
    while n < 50
      .aaa adfsafsadf adfsaf adsfsadf f sd sdfjsidfjsifj  sijdfsdiof #{n++}
    .inputBox
      input(type='text')
    -var n = 0
    while n < 0
      .aaa adfsafsadf adfsaf adsfsadf f sd sdfjsidfjsifj  sijdfsdiof #{n++}