@import '../../../css/common/index.styl'
.list
  display flex
  flex-wrap wrap
  justify-content center
  .company
    flex 0 1 25%
    margin 20px
    border-1px(all,#ccc)
    img
      border none
      width 100%
    p
      padding 30px
      font-size 30px
      color black
      text-align center