extends ../../common/layout
block title
  title='testWindow title'
block header
  .header
block content
  img(style="display:none" src=require('../../../img/boot/boot2.png'))
  button.alert alert
  button.confirm confirm
  button.prompt prompt


