extends ../../common/layout
block header
  .header
block content
  button.btn1(style="background:red;") click me
  .test-container 测试内容替换112三生三世 sdfsjiofsjfioasifsidfjisodfjio
block bottom
  p.test 测试23232
