extends ../../common/layout
block header
  .header
block content
  img(style="display:none" src=require('../../../img/boot/boot2.png'))
  .contentInner
    - var item = 0
    while item < 50
      .aaa adfsafsadf adfsaf adsfsadf f sd sdfjsidfjsifj  sijdfsdiof #{item++}
  .test-container 测试内容替换112
  .testSVG Hello SVG
  .testVW.border-1px Hello world
  .testAspectRatio Hello Aspect Ratiowwwaaa
  button.btn1 click me
  .aaa woshi aaassssss
  a(href='https://www.baidu.com') baidu link
  ul.wrap
    div
      li.box(aspectratio ratio1) 
        .box-content(aspectratio-content) 我是content
      li.box(aspectratio)
        .box-content(aspectratio-content) 我是content
      li.box(aspectratio)
        .box-content(aspectratio-content) 我是content
      li.box(aspectratio)
        .box-content(aspectratio-content) 我是content
  .box-wrap
    .boxaaa 我是boxaaa
    .boxaaa.boxbbb 我是boxaaa
block bottom
  p.test 测试23232

