extends ../../common/layout
block header
  .header
block content
  .test-container 测试内容替换112
  .testSVG Hello SVG
  .testVW.border-1px Hello world
  .testAspectRatio Hello Aspect Ratiowwwaaa
  button.btn1 click me
block bottom
  p.test 测试23232

