extends ../../common/layout.pug
block content
  .scrollWrapper
    .alert 
      p 我是alert window
    .contentWrap
      .contentInner
        - var item = 0
        while item < 50
          .aaa adfsafsadf adfsaf adsfsadf f sd sdfjsidfjsifj  sijdfsdiof #{item++}
    .bottomInput
      input(type='text')